img{
    margin-top: 70px;
    height: 50px;
    width: 100px;
    display: flex;
    margin-left: 400px;
}

.ifood{
    color: rgba(175, 0, 0, 0.767);
}

.menu{
    margin-top: 65px;   
    display: flex;
    padding: 10px;
    margin-left: 200px;
}

.menu button{
    margin-left: 50px;
    margin-top: -8px;
}


.texto{
    margin-top: 200px;
    text-align: center;
}

.content{
    display: flex;
}

.busca{
    margin-left: 220px;
}

body{
    background-image: url("../images/back.png");
    background-color: snow;
}  
